* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

/* estilo do titulo */
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

/* estilo do mapa */
#map {
    height: 400px;
    width: 100%;
}